<div class="hero_admin">
  <nav>
    <div class="nav_container">
      <div class="aut_container">
            <h2>{{login}}</h2> 
            <span>|</span>
            <img class="exit" src="./images/exit-icon.svg" alt="logout" />
      </div>
    </div>
    <img class="logo" src="./images/currency.png" alt="" />
    <div class="nav_container menu_item">
      <a href="/">Main page</a>
      <span>|</span>
      <a href="/tableUsers">Table Users</a>
      <span>|</span>
      <a href="/tableTokens">Table Tokens</a>
      <span>|</span>
      <a href="/portfolio">My Portfolio</a>
    </div>
  </nav>
</div>
