  <form class="adrees_container">
    <h2>Enter token address:</h2>
    <input name="tokenAdress" type="text" placeholder="Enter token address" />
    <button type="submit">Submit</button>
  </form>
</div>
<div class="container_main_head">
  <div class="main_header">
    <div class="table_cell table_title">
      Token Name
    </div>
    <div class="table_cell table_title">
      Image
    </div>
    <div class="table_cell table_title">
      Report Date
    </div>
    <div class="table_cell table_title">
      Tons price
    </div>
    <div class="table_cell table_title">
      Token Price in USD
    </div>
    <div class="table_cell table_title">
      Volume in Tons
    </div>
    <div class="table_cell table_title">
      Price in Dollars
    </div>
    <div class="table_cell table_title">
      Purchase Price
    </div>
    <div class="table_cell table_title">
      Delete Token
    </div>
  </div>

</div>
<div class="container_main_info">
      
</div>


