  <form class="login_form">
    <h2>Login</h2> 
    <input name="login" type="text" placeholder="Enter your login" required/>
    <input name="password" type="password" placeholder="Enter your password" required />
    <div class="hint"></div>
    <button type="submit">Send data</button>
    <p>Don't have an account? <a href="/register">Register</a></p>
  </form>
</div>


