  <form class="register_form">
    <h2>Register account</h2> 
    <input name="login" type="text" placeholder="Enter your login" required/>
    <input name="email" type="email" placeholder="Enter your email" required/>
    <input name="phone" type="text" placeholder="Enter your phone" required/>
    <input name="password" type="password" placeholder="Enter your password" required />
    <input name="password2" type="password" placeholder="Enter your password again" required/>
    <div class="hint"></div>
    <button type="submit">Send data</button>
    <p>Already have an account? <a href="/login">Login</a></p>
  </form>
</div>


